name: cryptovisor
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.2.6 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  flutter_bloc: 8.1.3
  bloc: 8.1.2
  dartz: 0.10.1
  get_it: ^7.6.4
  go_router: ^13.2.0
  shared_preferences: 2.2.2
  flutter_svg: 2.0.10+1
  cupertino_icons: ^1.0.2
  dio: ^5.4.3+1
  flutter_native_splash: 2.3.10

color: "#010500"

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:

  uses-material-design: true

  assets:
     - assets/
  #   - images/a_dot_ham.jpeg

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
